body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: #ffffff;
}

.page-header,
.page-footer {
  padding: 10px;
  background-color: #eeeeee;
}

.page-header {
  padding: 10px;
  color: #c3c3c3;
  background-color: #363636;
}

.main-nav {
  list-style: none;
}

.main-nav li{
  text-transform: uppercase;
}

.main-nav a {
  text-decoration: none;
  color: white;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn {
  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  color: #8d745a;
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
}

.promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  text-align: center;
}

.promo a {
  color: white;
  text-decoration: none;
}

.features ul{
  list-style: none;  
}

.feature-item{
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.feature-item:first-child{
  border-left: none;  
}

.feature-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.cat-reference {
  background-color: #f2f2f2;
}

.section-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.cat-reference img{
  border-radius: 5px;  
}

.reference-title {
  font-size: 24px;
  font-weight: bold;
}

.reference-source {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.reference-source a{
  color: #a38b70;
}

.reference-source a:hover{
  color: #8d745a;
}

.reference-source a:active{
  color: rgba(141, 116, 90, 0.3);  
}

.review-item {
  border-left: 3px solid #a38b70;
}

.review-author {
  font-weight: bold;
  font-style: italic;
}

.popular-and-price{
  background-color: #f2f2f2  
}

.catalog-item h3{
  font-size: 16px;
  color: #000000;
}

.page-footer {
  margin-top: 20px;
}

.price-list {
  width: 100%;
  border-collapse: collapse;
}

.price-list th {
  font-weight: normal;
  text-align: left;
}

.price-list td {
  border: 1px solid #333333;
}

.price-list th,
.price-list td { 
  padding: 5px 10px 5px 10px;
}

.price-list .price-number {
  text-align: center;
}

.price-list .price-name {
  font-weight: bold;
}

.feedback-form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}