body {
  min-width: 1040px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: #ffffff;
}

.container{
  width: 1020px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.page-header {
  min-height: 490px;
  padding-top: 35px;
  color: #c3c3c3;
  background-color: #363636;
  background-image: url("./img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-top{
  margin-bottom: 125px;  
}

.header-logo{
  float: left;
  width: 205px;
  height: 55px;
}

.main-nav {
  margin: 0;
  padding: 0;
  margin-left: 125px;
  list-style: none;
  float: left;
  width: 520px;
}

.main-nav li{
  text-transform: uppercase;
}

.btn-quick-order{
  float: right;  
}

.main-nav a {
  text-decoration: none;
  color: white;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn {
  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  color: #8d745a;
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
}

.promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  text-align: center;
}

.promo a {
  color: white;
  text-decoration: none;
}

.features{
  padding-top: 50px;
  padding-bottom: 55px;
}

.features ul{
  margin: 0;
  padding: 0;
  list-style: none;  
}

.feature-item{
  width: 279px;
  float: left;
  padding: 0 30px;
  padding-top: 90px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}

.feature-item:first-child{
  border-left-color: transparent;
}

.feature-choice {
  background: url("./img/feature-1.png") top center no-repeat;
}

.feature-quality{
  background: url("./img/feature-2.png") top center no-repeat;
}

.feature-safety{
  background: url("./img/feature-3.png") top center no-repeat;  
}

.feature-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.cat-reference {
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f2f2f2;
}

.cat-reference dl {
  width: 830px;
}

.cat-reference dt{
  margin: 0 0 10px 0;
}

.cat-reference dd{
  margin: 0;
}

.theory-container:first-child{
  margin-bottom: 70px;
}

.section-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.cat-reference dd img{
  border-radius: 5px;  
}

.reference-title {
  font-size: 24px;
  font-weight: bold;
}

.reference-source {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.reference-source a{
  color: #a38b70;
}

.reference-source a:hover{
  color: #8d745a;
}

.reference-source a:active{
  color: rgba(141, 116, 90, 0.3);  
}

.reviews{
  padding-top: 70px;
  padding-bottom: 90px;
}

.review-item {
  margin: 0;
  margin-right: 80px;
  padding: 0;
  padding-left: 50px;
  width: 377px;
  float: left;
  border-left: 3px solid #a38b70;
}

.review-author {
  font-weight: bold;
  font-style: italic;
}

.popular-and-price{
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f2f2f2  
}

.popular-items{
  margin-bottom: 50px;  
}

.catalog-item{
  width: 308px;
  margin-right: 48px;
  float: left;
}

.catalog-item:last-child{
  margin-right: 0;
}


.catalog-item img {
  max-width: 100%;
  height: auto;
}

.catalog-item h3{
  font-size: 16px;
  color: #000000;
}

.price-list {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.price-list th {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: left;
}

.price-list td {
  border: 1px solid  #d8d8d8;
}

.price-name{
  color: #000000;
}

.price-list th,
.price-list td { 
  padding: 5px 10px 5px 10px;
}

.price-list .price-number {
  text-align: center;
}

.price-list .price-name {
  font-weight: bold;
}

.feedback{
  padding-top:60px;
  padding-bottom: 70px;
}

.feedback-form{
  width: 630px;
  padding-right: 390px;
  background: url("./img/write.jpg") 100% 40px no-repeat;  
}

.feedback-form-group {
  padding: 10px 0;
}

.feedback-form-group label {
  font-size: 12px;
  text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
  border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #8d745a;
}

.checkbox-area{
  border-bottom: 1px solid #d5d5d5;  
}

.page-footer {
  padding-top: 45px;
  padding-bottom: 50px;
  padding: 10px;
  background-color: #363636;
  color: #c3c3c3;
}

.footer-middle,
.footer-bottom{
  border-top: 1px solid #5e5e5e;  
}

.footer-menu h3{
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: bold;
  color: #a38b70;
}

.footer-menu ul{
  list-style: none;  
}

.footer-menu a {
  color: #c3c3c3;
  text-decoration: none;
}

.footer-menu a:hover{
  color: #ffffff;
}

.footer-menu a:active{
  color: rgba(255, 255, 255, 0.3);  
}

.footer-social b{
  font-family: "Georgia", serif;
  font-weight: bold;
  font-size: 24px;
  color: #a38b70;
}

.social-btn{
  color: #ffffff;  
}

.footer-copyright{
  color: #ffffff;
  text-transform: uppercase;
}

.footer-copyright a{
  color: white;
  text-decoration: none;
}

.footer-copyright a:hover{
  text-decoration: underline;
}

.footer-copyright a:active{
  color: rgba(255, 255, 255, 0.3);  
}