.page-header,
.page-footer {
  padding: 10px;
  background-color: #eeeeee;
}

.page-footer {
  margin-top: 20px;
}

.price-list{
  width: 100%;
  border-collapse: collapse;
}

.price-list td {
  border: 1px solid #333333;
}

